<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.person.liwei">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".dagger.really.DaggerReallyActivity"></activity>
        <activity android:name=".dagger.test.DaggerTestActivity" />
        <activity android:name=".dagger.simple.DaggerUseActivity" />
        <activity android:name=".dialog.BottomSheetDialogActivity" />
        <activity android:name=".anim.CustomerObjectAnimActivity" />
        <activity android:name=".anim.LayoutAnimXmlActivity" />
        <activity android:name=".anim.LayoutAnimActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="CHANNEL_NAME"
            android:value="${CHANNEL_NAME}" />
    </application>

</manifest>